<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Aishwarya Rai Bachchan</h1>
    <img src="/images/ash3.jpg" alt="" />
    <p>
      Aishwarya Rai Bachchan (born 1 November 1973) is an Indian actress and the
      winner of the Miss World 1994 pageant. Primarily known for her work in
      Hindi and Tamil films, she has established herself as one of the most
      popular and influential celebrities in India through her successful acting
      career.
    </p>
    <p>
      Bollywood actor Aishwarya Rai Bachchan has been voted the world's fourth
      most beautiful woman in a recent poll conducted by online magazine
      Hollywood Buzz .
    </p>
    <p>
      Rai married actor Abhishek Bachchan in 2007, the couple have one daughter.
    </p>
    <a href="/home">Back to Home</a>
  </body>
</html>
