body {
    color: blue;
    background-color: black;
    text-align: center;
    color: white;
    margin: 50px 100px;
  }

  img {
      width: 350px;
      height: 400px;
  }

  p {
    text-align: center;
  }